spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
    validate-on-migrate: false
    out-of-order: false
    clean-disabled: true

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o
          temperature: 0.7
          max-tokens: 1000
    retry:
      max-attempts: 3

# 로그 확인
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

oauth:
  google:
    client-id: ${GOOGLE_CLIENT_ID}
    user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo

  naver:
    user-info-uri: https://openapi.naver.com/v1/nid/me

  kakao:
    user-info-uri: https://kapi.kakao.com/v2/user/me

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    path: /v3/api-docs
    enabled: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

jwt:
  secret: ${JWT_SECRET}

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY_ID}
      secret-key: ${AWS_SECRET_ACCESS_KEY}
    region:
      static: ${AWS_REGION:ap-northeast-2}
    stack:
      auto: false
    s3:
      bucket: ${AWS_S3_BUCKET}

# 앱 버전 정보
app:
  version: 0.0.1

