name: Deploy to EC2 with Docker

on:
  push:
    branches: [ "main" ] # 나경님이 방금 푸시한 그 main 브랜치예요!

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Docker build & push
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/symteo-server .
          docker push ${{ secrets.DOCKER_USERNAME }}/symteo-server

      - name: EC2 Deployment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/symteo-server
            docker stop symteo-server || true
            docker rm symteo-server || true
            docker run -d --name symteo-server -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/symteo-server